body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: sandybrown;
}

.main{
    background-color: lightcoral;
    font-weight: bold;
    height: auto;
    width: auto;
    color: aliceblue;
    font-size: 100px;
    text-align: center;
}

.rest{
    background-color: lightblue;
    width: fit-content;
    height: fit-content;
    font-size: x-large;
}

.gbut{
    font-size: large;
}



.spag{
    height: auto;
    width: 500px;
}